<div class="row">
  <table>
    <thead>
      <tr>
        <th>{{i18n 'pages.page'}}</th>
        <th>{{i18n 'pages.created'}}</th>
        <th>{{i18n 'pages.updated'}}</th>
        <th>{{i18n 'pages.actions'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each page in model}}
        <tr>
          <td>
            {{page.title}}
          </td>
          <td>
            {{page.created_at}}
          </td>
          <td>
            {{page.updated_at}}
          </td>
          <td>
            {{#link-to 'adminPlugins.pages.edit' page.id class="btn btn-primary"}}{{i18n 'pages.edit'}}{{/link-to}}
            <button class="btn" {{action 'delete' page}}>{{i18n 'pages.delete'}}</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="row">
  {{#link-to 'adminPlugins.pages.new' class="btn btn-primary"}}{{i18n 'pages.new'}}{{/link-to}}
  <button class="btn" {{action 'refresh'}}>{{i18n 'pages.refresh'}}</button>
</div>
