{{partial 'admin/plugins-pages-form'}}

<div class="btn-group">
  <button class="btn btn-large btn-primary" {{action 'update' this}}>{{i18n 'static_pages.update'}}</button>
  <button class="btn btn-large btn-danger" {{action 'cancel' this}}>{{i18n 'static_pages.cancel'}}</button>
</div>
