<div class="form-group">
  <label class="control-label col-lg-2" for="title">
    {{i18n 'static_pages.title'}}
  </label>
  <div class="col-lg-10">
    {{input type="text" name="title" value=model.title required="true"}}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-lg-2" for="body">
    {{i18n 'static_pages.body'}}
  </label>
  <div class="col-lg-10">
    {{d-editor name="body" value=model.body required="true"}}
  </div>
</div>
<input type="hidden" name="id" {{bind-attr value=model.id}} id="id" />
